<p>Searching for appointments for doctor </p><p><%= doctor["name"] %></p>

<form action="/patients/retrieveAppointments">
    <label for="Appointment">Select a preferred date:</label>
    <input type="hidden" id="doctorId" value="<%=doctor._id%>"" name="doctorId">
    <input type="date" id="appointment" name="appointment" value="<%= appointment %>">
    <input type="submit">
</form>
<%- include ('../public/js/appointmentFunctions.ejs') %>
<section>
    <div class="container">
        <div class="row">
            <ul>
            <% for(var i=1; i<=16; i++) { %>
                <li><b>Time Slot:</b>
                    <%= parsedSlot(i) %>
                    <% if(typeof appointments!='undefined' ) { %>
                        <% let booked = false %>
                        <% for(var count=0; count<appointments.length; count++) { %>
                            <% if(appointments[count].slot == i ) { %>
                                <% booked = true %>
                                <b>Booked</b>
                            <% } %>
                        <% } %>
                        <% if (booked == false) { %>
                            <form action="/patients/bookAppointment" method="POST">
                                <input type="hidden" id="slot" value="<%=i%>"" name="slot">
                                <input type="hidden" id="doctorId" value="<%=doctor._id%>"" name="doctorId">
                                <input type="hidden" id="date" value="<%= appointment %>" name="date">
                                <input type="hidden" id="clinicId" value="<%=clinic._id%>"" name="clinicId">
                                <input type="hidden" id="patientId" value="<%=patient._id%>"" name="patientId">
                                <input type="submit" value="Book now">
                            </form>
                        <% } %>
                    <% } %>
                </li>
            <% } %>
            </ul>
        </div>
    </div>
</section>