<%- include ('../public/js/appointmentFunctions.ejs') %>
<%- include ('./partials/messages') %>
<% if(typeof appointments!='undefined' ) { %>
    <% for(var i=0; i<appointments.length; i++) { %>
        <ul>
            <li><b>Doctor:</b>
                <%= appointments[i].doctor.name %>
            </li>
            <li><b>Specialization:</b>
                <%= appointments[i].doctor.specialization %>
            </li>
            <li><b>Slot:</b>
                <%= parsedSlot(appointments[i].slot) %>
            </li>
            <li><b>Date:</b>
                <%= appointments[i].appointmentDate %>
            </li>
            <li>
            <form action="/patients/cancelAppointment" class="input-field" method="POST">
                <input type="hidden"  id="appointmentId" value= "<%=appointments[i]._id%>"" name="appointmentId">
                <input type="submit" value="Cancel Appointment" class="btn indigo white-text" id="cancelSubmit">
            </form>
            </li>
        </br>
        </br>
        </ul>
    <% } %>
<% } %>