<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="../css/main.css">
        <!-- Script tag for Fontawesome-->
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
          integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
          crossorigin="anonymous"></script>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Huma Care</title>
      </head>
<body>
     <!--Navigation Bar-->
  <div class="navbar-fixed">
    <nav class="indigo darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Huma Care</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <!-- Used for hamburger icon targetting mobile devices-->
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <!-- hides when the screen size is medium and less than that-->
            <li>
             
              <a href="/patients/changePassword" class="btn white indigo-text text-darken-4">Change password</a>
              <a href="/patients/appointments" class="btn white indigo-text text-darken-4">View appointments</a>
              <a href="/patients/logout" class="btn white indigo-text text-darken-4">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-nav">
    <!-- hides when the screen size is medium and less than that-->
    <li>
      
      <a href="/patients/changePassword" class="btn white indigo-text text-darken-4">Change password</a>
      <a href="/patients/appointments" class="btn white indigo-text text-darken-4">View appointments</a>
      <a href="/patients/logout" class="btn white indigo-text text-darken-4">Logout</a>
    </li>
  </ul>

  <!-- Update Profile Form-->
  <div class="container">
    <div class="row">
        <div class="col s12 card-panel indigo-text text-darken-4">
            <form action="/patients/update" class="patientProfileUpdate" method="post">
                <h3>Update Profile</h3>
                <%- include ('./partials/messages') %>
                <%- include ('../public/js/patientProfileUpdateFunctions.ejs') %>
                <div class="input-field">
                    <label>Email</label><br>
                    <input type="email" id="userEmail" name="email" value="<%= patient.email %>"><br>
                </div>
                <label>Gender</label><br>
                    <label>
                        <input type="radio" id="male" name="gender" value="m"
                        <%if(patient.gender == 'm'){%>
                            <%="checked"%>
                        <%}%>
                        >
                        <span>Male</span>
                    </label>
                    <label>
                        <input type="radio" id="male" name="gender" value="f"
                        <%if(patient.gender == 'f'){%>
                            <%="checked"%>
                        <%}%>
                        >
                        <span>Female</span>
                    </label>
                    <label>
                        <input type="radio" id="male" name="gender" value="n"
                        <%if(patient.gender == 'n'){%>
                            <%="checked"%>
                        <%}%>
                        >
                        <span>Rather not say</span>
                    </label>
                    <div class="input-field">
                        <label>Date of Birth</label><br>
                        <input type = "date" class = "datepicker" name="birthdate" value="<%= patient.birthdate.toISOString().substring(0,10) %>">  
                    </div>
            
                <input type="submit" value="Update Profile" class="btn indigo white-text" id="formSubmit">
              
            </form>
        </div>
    </div>
</div>
    
</body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</html>